{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Services Status API",
    "description": "API for checking operational status and details of various AI service providers",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://status.chatcompletions.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/status.json": {
      "get": {
        "operationId": "getServicesStatus",
        "summary": "Get operational status",
        "description": "Returns current operational status of all AI service providers",
        "responses": {
          "200": {
            "description": "Successfully retrieved service statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["updated", "services"],
                  "properties": {
                    "updated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Last status update timestamp"
                    },
                    "services": {
                      "type": "object",
                      "properties": {
                        "openai": { "type": "boolean" },
                        "anthropic": { "type": "boolean" },
                        "deepseek": { "type": "boolean" },
                        "groq": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers.json": {
      "get": {
        "operationId": "getProvidersInfo",
        "summary": "Get providers information",
        "description": "Returns detailed information about AI providers including supported models and pricing",
        "responses": {
          "200": {
            "description": "Successfully retrieved providers information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://status.chatcompletions.com/providers.schema.json"
                }
              }
            }
          }
        }
      }
    }
  }
}
